.bg-green {
    background-color: #debd50;
}

.co-white {
    color: white;
}

button[type="button"] {
    border: none;
}

.flex {
    align-items: center;
}

.space {
    margin-bottom: 2%;
}

h2 {
    margin-bottom: 0;
    font-size: large;
    margin-top: 2%;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #debd50;
    opacity: 0.3;
}

.icon {
    color: red;
    position: relative;
    top: 22%;
    left: 32%;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {

    .mb-2,
    h2 {
        font-size: 0.7rem;
    }
}

@media only screen and (min-width: 252px) and (max-width: 307px) {
    body {
        font-size: xx-small;
    }

    .circle {
        transform: scale(0.5);
    }

    .icon {
        transform: scale(2);
        position: relative;
        top: 35%;
        left: 37%;
    }
}